$apple-blossom: #ac4142 !default;
$alto: #d0d0d0 !default;
$bouquet: #aa759f !default;
$chelsea-cucumber: #90a959 !default;
$cod-grey: #151515 !default;
$conifer: #b5e853 !default;
$dove-grey: #666 !default;
$gallery: #eaeaea !default;
$grey: #888 !default;
$gulf-stream: #75b5aa !default;
$hippie-blue: #6a9fb5 !default;
$potters-clay: #8f5536 !default;
$rajah: #f4bf75 !default;
$raw-sienna: #d28445 !default;
$silver-chalice: #aaa !default;
